@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: #083c80;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.container h3{
    font-weight: 500;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 40px;
}

.grid{
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(9, auto);
    gap: 0px;    
    height: 400px;
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 15px 2px rgba(0, 0, 0,.6);
}

/* .grid div{
    height: 40px;
    width: 40px;
} */

.ending-block{background-color: #0f8046;}

.c1{background-color: #e82907;}
.c2,.c3{background-color: #84d9ad;}

.l1,.l2,.l3{background-color: #84d9ad;}
.l4,.l5{background-color: #a61008;}

.frog{background-color: #000;}

#time-left{
    color: #e82907;
}

#button{
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    margin-top: 50px;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0,1);
    cursor: pointer;
}
#button:hover{
    box-shadow: 2px 3px 10px 2px rgba(0, 0, 0,1);
}

.handles{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.handles .fa{
    color: #231f20;
    font-size: 2rem;
    font-weight: bolder;
    padding: 5px 15px;
    background-color: #bccce6;
    border-radius: 10px;
    margin-right: 5px;
    box-shadow: 0px 0px 4px .5px rgba(0, 0, 0,.3);
}

#popmessage{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcbc0d;
    padding: 10px 20px;
    position: absolute;
    top: 0px;
    left: 0px;
}
#popmessage p{
    color: #000;
}
#popmessage .fa-times{
    color: rgb(194, 42, 73);
    cursor: pointer;
    font-size: 1.5rem;
}


@media screen and (min-width: 600px) {
    .grid{
        width: 400px ;
        height: 400px;
    }

}

@media screen and (max-device-width: 550px) { 
    .grid{
        width: 300px ;
        height: 300px;
    }
}


@media only screen and (max-device-width: 400px) {
    .grid{
        width: 200px ;
        height: 200px;
    }
}
